
input:focus,
label:focus {
    outline: 0px !important;
    -webkit-appearance: none !important;
    -webkit-box-shadow: none;
    box-shadow: none !important;
    outline: none !important;
}
#root {
    width: 1000px;
    margin: auto;
}

.settings-container {
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    min-height: 350px;
    overflow: hidden;
    box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 0.1);
    .left-column {
        width: 30%;
        ul {
            margin: 0;
            height: 100%;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0;
            li {
                flex: auto;
                padding: 20px;
                cursor: pointer;
                color: #363b6d;
                transition: all 0.2s ease-out;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                font-weight: bold;
                display: flex;
                align-items: center;
                &:hover {
                    background-color: #363b6d;
                    color: white;
                }
                i {
                    margin-right: 10px;
                    color: #363b6d;
                }
            }
        }
    }
    .settings-tab {
        width: 100%;
        padding: 20px;
        border-left: 3px solid #363b6d;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .input-group {
            width: 220px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: stretch;
            margin: 10px 0;
            input {
                padding-left: 0 !important;
                font-family: inherit;
                line-height: 1.2;
                color: #363b6d;
                font-size: 20px;
                background: transparent;
                padding: 0 5px;
                border: none;
                border-bottom: 1px solid #ced4da;
            }
            label {
                font-size: 15px;
                color: #363b6d;
                opacity: 0.5;
            }
        }
        h1 {
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #363b6d;
            opacity: 0.5;
        }
        h2 {
            color: #e83114;
            font-size: 16px;
            font-weight: normal;
            text-align: center;
            margin-bottom: 20px;
        }
        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
            cursor: pointer;
            margin: 10px;
        }
        img.select {
            padding: 3px;
            background: #e83114;
        }
    }
}

.btn1 {
    border-radius: 0.25rem;
    display: flex;
    font-family: "Abel";
    background-size: contain;
    background-position: center;
    background: linear-gradient(332deg, #363b6d 0%, #e83114 100%);
    color: white;
    border-radius: 0.25rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    padding: 10px 30px;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.1s;
    margin: 20px 0 10px 0;
    &:hover {
        background: none;
        background-color: #e83114;
    }
}

@media screen and (max-width: 1000px) {
    #root {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .settings-container {
        flex-direction: column;
        .left-column {
            width: 100%;
            ul {
                li {
                    width: 100%;
                    justify-content: center;
                }
            }
        }
        .settings-tab {
            width: 100%;
            border-left: 0;
        }
    }
}
